@charset "UTF-8";
@font-face {
    font-family: IoEI;
    src: url(../font/IoEI.ttf) format('truetype');
}
@font-face {
    font-family: nicokaku;
    src: url(font/nicokaku_v1.ttf) format('truetype');
}
body {
    background-color: #ffffff;
    width: 90%;
    margin: auto;
    max-width: 800px;
    margin-top: 20px;
    font-family: sans-serif;
}
#preview {
    width: 100%;
    border: solid;
    border-width: 2px;
    border-color: #666666;
}
/*p {
    font-family: sans-serif;
}
.alpha {
    font-family: IoEI;
}
.alpha {
    font-family: nicokaku;
}*/